@import 'bootstrap-overrides';

form.validated input:valid,
form.validated textarea:valid {
	border-color: $primary;
}

form.validated input:invalid,
form.validated textarea:invalid {
	border-color: $secondary;
}

form.validated input:invalid + div,
form.validated textarea:invalid + div {
	display: block;
}
